<!DOCTYPE html>

<head>
    <title>Fuck me</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="background-color: aqua;">
    <div style="background-color: bisque;">


    <ul>
        {% for element in myJSON %}
            {% for j,k in element.items() %}
                {% if (k == "")  or (j == "id") %} {{ pass }} 
            {% else %}
            <a>{{ j }}:</a> <a>{{ k }}</a><br>
            {% endif %}
            {% endfor %} {% endfor %}
    </ul>

    </div>
</body>

